/* EVENTS STYLES */

#events-container {
	/* margin botton on events container should be the same height as the footer element */
	margin-bottom: 33px;
}

.addevent {
	margin-top: 9px;
}

.event-tabs {
	padding-top:9px;
}

div.col-xs-8.username-column {
	padding: 0;
}

.event-row {
	margin-bottom: 11px;
}

.event-row,
.event-row .col-xs-1,
.event-row .col-xs-2,
.event-row .col-xs-3 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height:66px;
}

.event-row .col-xs-6 {
	padding: 8px 8px 0 8px;
	background-color: #ccc;
	color: #34495e;
	font-weight: 400;
	height: 66px;
	line-height:18px;
}

.event-row:nth-child(2n) > .col-xs-6 {
	background-color: #eee;
}

.event-row:nth-child(2n) > div.bigdatebox {
	background-color: #e5e5e5 !important;
}

.event-row i.icon-edit {
	font-size: 30px;
	color: #fff;
	margin-left: 7px;
}

.event-row i.icon-chevron-right {
	font-size: 26px;
}

.event-row div.bigdatebox {
	background-color: #c5c5c5;
	text-align: center;
	color:#666;
	font-weight: 900;
}

.event-row span.bigdate {
	font-size:30px;
}