/* GLOBAL STYLES */

body {
	margin-top: 66px;
}

.container {
	padding: 0 10px;
	max-width: inherit !important;
}

/* offset page content div with a margin so the footer doesn't cover it up */
#page-content {
	margin-bottom:43px;
}

.row {
	padding:0;
	margin:0;
}

.col-xs-12 {
	padding:0;
}

.navbar-nav {
	margin:10px 0 0 0;
}

.navbar-collapse {
	padding:0;
}

.navbar-toggle {
	float:left;
	margin-left: 15px;
	margin-right: 0px;
	background-color: #34495e;
	height: 36px;
}

.tabscolumn {
	padding:0;
}

.primarybuttoncolumn {
	padding:0;
	margin-top:10px;
}

.navbar-toggle:hover {
	background-color: #2c3e50 !important;
}

.navbar .btn {
	margin: 13px 15px 0 0;
	float:right;
}

.userbar .btn {
	margin:0;
}

.btn .hidden-xs {
	margin: 15px 0 0 0 !important;
}

.nav-divider {
	height: 2px !important;
	background-color: #333 !important;
	border-top: 1px solid #111;
}

li.userbar {
	padding:0 15px;
}

.userbar.hidden-xs {
	float: right;
	padding-top: 13px;
	padding-right: 22px;
}

.userbar img {
	padding-right:10px;
}

.userbar h4 {
	margin: 0;
	line-height:32px;
}

.btn {
	font-weight: 900;
}

.btn-block {
	padding: 18px;
}

.btn-navbar {
	font-size:13px;
	padding:6px 4px;
}

.nav-pills {
	margin: 11px 0;
}

.nav-pills > li > a {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	font-weight: 900;
	margin: 0 4px;
	background-color: #999;
	color: #34495e;
	padding:6px 12px;
}

.nav-pills > li > a:first-child {
	margin-left: 0;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
	background-color: #1abc9c;
}

/* Large Screens */
@media (min-width: 1200px) {
	#page-content {
		width: 1200px !important;
	}
}

/* All screen sizes down to mobile */
@media (min-width: 768px) {
	
	.navbar-nav {
		margin:0;
	}

	.nav-pills > li > a {
		padding-top: 18px;
		padding-bottom: 18px;
	}

	.col-sm-5.tabscolumn {
		margin-bottom:5px;
	}

	.userbar h4 {
		margin: 0;
		line-height:16px;
		font-size: 16px;
	}

	.event-row .col-xs-6 {
		padding: 10px 8px 0 8px !important;
		font-size: 20px;
		line-height:22px !important;
	}
}

/* For tablet size only */
@media (min-width: 768px) and (max-width:991px) {

	.navbar-nav li > a {
		padding:19px 8px;
	}

}

/* Fix row event row heights if mobile */
@media (max-width: 460px) {

	.event-row {
		height:96px !important;
	}

	.event-row .col-xs-6 {
		height:96px !important;
	}

	.event-row .col-xs-2 {
		height:96px !important;
	}

}



.btn.btn-primary.hidden-xs {
	padding-top:18px;
	padding-bottom:18px;
}

.btn.btn-dark.hidden-xs {
	margin-right:0;
}

.btn-asbestos {
	background-color: #7f8c8d;
	color: #fff;
}

.btn-asbestos:hover {
	background-color: #717d7e;
	color: #fff;
}

.btn-dark {
	background-color: #34495e;
	color:#fff;
}

.btn-dark:hover {
	background-color: #2c3e50;
	color:#fff;
}

.btn-green {
	background-color: #2ecc71;
	color:#fff;
}

.btn-green:hover {
	background-color: #2ecc71;
	color:#fff;
}


.btn-turquoise {
	background-color: #1abc9c;
	color:#fff;
}

.btn-turquoise:hover {
	background-color: #16a085;
	color:#fff;
}

.btn-amethyst {
	background-color: #9b59b6;
	color:#fff;
}

.btn-amethyst:hover {
	background-color: #9b59b6;
	color:#fff;
}

.btn-carrot {
	background-color: #e67e22;
	color:#fff;
}

.btn-carrot:hover {
	background-color: #e67e22;
	color:#fff;
}

footer {
	text-align: center;
	position:fixed;
	bottom:0;
	background-color: #222222;
	width:100%;
	border-top:1px solid #080808;
	padding:5px 0;
	color:#999;
}

span.navbar-brand {
	color:#FFF !important;
}

.inline-header {
	display:inline;
}

.modal-content {
	background-color: #333;
}

.modal-footer {
	background-color: #222222;
	border-top: 1px solid #080808;
}

.modal-footer button {
	margin:0!important;
}

hr {
	border-top: 1px solid #545454;
	border-bottom: 1px solid #454545;
}

.well {
	color:#666;
	width:100%;
}

.jumbotron {
	background-color: #444;
	padding:1px 10px;
}

/* Helper CSS, remove tap highlight color on touch devices */
html {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}