.singleuser {
	background-color: #e5e5e5;
	padding: 8px 0px;
	margin: 15px 0px;
}

.singleuser:nth-child(2n){
	background-color: #ccc;
}

.singleuser .col-md-5 {
	padding:0px;
}

.singleuser .col-md-7 {
	padding:0px;
}

.user-name {
	font-size:20px;
	font-weight:900;
	color:#666;
}

.user-notes {
	color:#999;
}

.user-row {
	margin-bottom: 11px;
}

.user-row,
.user-row .col-xs-1,
.user-row .col-xs-2,
.user-row .col-xs-3 {
	padding-left: 0 !important;
	padding-right: 0 !important;
	height:66px;
}

.user-row .col-xs-6 {
	padding: 8px 8px 0 8px;
	background-color: #ccc;
	color: #34495e;
	font-weight: 400;
	height: 66px;
	line-height:18px;
}

.user-row:nth-child(2n) > .col-xs-6 {
	background-color: #eee;
}

.user-row:nth-child(2n) > div.bigdatebox {
	background-color: #e5e5e5 !important;
}

.user-row i.icon-edit {
	font-size: 30px;
	color: #fff;
	margin-left: 7px;
}

.user-row i.icon-chevron-right {
	font-size: 26px;
}

.userimgbox {
	display:inline-block;
	float:left;
	height:100px;
}

.userinfobox {
	display:inline-block;
	padding-left: 20px;
	height: 100px;
}

.user-btn {
	width:100%;
}


/* Small desktop Screens */
@media (min-width: 768px) {
	.singleuser .col-md-7 {
		margin-top: 20px;
	}
}

/* mobiles */
@media (max-width: 767px) {
	.user-btn {
		padding:4px;
	}

	.singleuser .col-sm-3 {
		display: inline-block;
		margin: 10px -2px !important;
		width: 25%;
		padding: 0px 2px;
	}

	.singleuser .userbuttons {
		margin:0 14px;
	}

}
